@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Track your daily goals easily! you can start adding goals <a asp-controller="Goals" asp-action="create">Here</a></p>
</div>
